<!-- Start of Login dialog -->
<div class="modal" aria-hidden="true" id="auth-dialog" style="visibility: hidden;">
	<div class="modal-dialog" style="opacity: 1.0; width: 400px; top: 200px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;"
				        onclick="modalHidden('auth-dialog')">×
				</a>
				<h4 class="modal-title center">账户认证</h4>
			</div>

			<div>
				<input class="mtabinput" id="tab1" type="radio" name="tabs" checked>
				<label class="tablabel" for="tab1">登录</label>
				<input class="mtabinput" id="tab2" type="radio" name="tabs">
				<label class="tablabel" for="tab2">注册</label>
				<section class="tabsection" id="content1">
					<div class="modal-body">
						<form role="form" class="form-horizontal" style="margin: 2px 0 15px;">
							<div class="control-group" style="text-align: center">
								<input type="text" class="controls-center" id="username-login" placeholder="请填写用户名／邮箱">
							</div>
							<div class="control-group" style="text-align: center">
								<input type="password" class="controls-center" id="password-login" placeholder="请填写密码">
							</div>
							<div class="control-group" style="text-align: center">
								<button type="button" class="btn btn-primary" style="width: 200px;"
								        onclick="loginPressed('username-login', 'password-login')">登录
								</button>
							</div>
							<div class="control-group" style="text-align: center">
								<a href="javascript:void(0)" onclick="modalHidden('auth-dialog'); modalHidden('forget-dialog');">忘记密码</a>
							</div>
						</form>
					</div>
				</section>
				<section class="tabsection" id="content2">
					<div class="modal-body">
						<form role="form" class="form-horizontal" style="margin: 2px 0 1px;">
							<div class="control-group" style="text-align: center">
								<input type="text" class="controls-center" id="email-register" placeholder="请填写邮箱">
							</div>
							<div class="control-group" style="text-align: center">
								<input type="text" class="controls-center" id="username-register"
								       placeholder="请填写用户名（ 5-16 位 ）">
							</div>
							<div class="control-group" style="text-align: center">
								<input type="password" class="controls-center" id="password-register"
								       placeholder="请填写密码（ 8-22 位 ）">
							</div>
							<div class="control-group" style="text-align: center">
								<input type="password" class="controls-center" id="repeat-password-register"
								       placeholder="确认密码">
							</div>
							<div class="control-group" style="text-align: center">
								<label><input type="checkbox" id="protocal-register" class="regular-checkbox"/> 我已经阅读并同意<a
									href="{{ url_for('auth.rules', _external=True) }}">《用户协议》</a></label>
							</div>
							<div class="control-group" style="text-align: center">
								<button type="button" class="btn btn-primary" style="width: 200px;"
								        onclick="signupPressed('email-register', 'username-register', 'password-register', 'repeat-password-register', 'protocal-register')">
									注册
								</button>
							</div>
						</form>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<!-- End of Login dialog -->

<div class="modal" aria-hidden="true" id="forget-dialog" style="visibility: hidden;">
	<div class="modal-dialog" style="opacity: 1.0; width: 400px; top: 200px;">
		<div class="modal-content">
			<div class="modal-header">
				<a type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;"
				   onclick="modalHidden('forget-dialog')">×
				</a>
				<h4 class="modal-title center">重置密码</h4>
			</div>

			<div>
				<div class="modal-body">
					<form role="form" class="form-horizontal" style="margin: 2px 0 15px;">
						<div class="control-group" style="text-align: center">
							<input type="text" class="controls-center" id="forget-email" placeholder="请填写注册时使用的邮箱">
						</div>
						<div class="control-group" style="text-align: center">
							<button type="button" class="btn btn-primary" style="width: 200px;"
							        onclick="forgetPressed('forget-email')">发送重置邮件
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of Forget dialog -->