<section id="comments">

                                                        <h3 id="comments-title">(3) Comments</h3>

                                                        <ol class="commentlist" style="padding-bottom: 10px;" id="comments-container">

                                                        </ol>

														<div class="page-number" >
															<button class="btn btn-primary" style="height: 45px; width: 300px;" id="load-comment-button">加载更多评论</button>
														</div>
														
                                                        <div id="respond">

                                                                <h3>Leave a Reply</h3>

                                                                <div class="cancel-comment-reply">
                                                                        <a rel="nofollow" id="cancel-comment-reply-link" href="#" style="display:none;">Click here to cancel reply.</a>
                                                                </div>


                                                                <form action="#" method="post" id="commentform">


                                                                        <p class="comment-notes">Your email address will not be published. Required fields are marked <span class="required">*</span></p>

                                                                        <div>
                                                                                <label for="author">Name *</label>
                                                                                <input class="span4" type="text" name="author" id="author" value="" size="22">
                                                                        </div>

                                                                        <div>
                                                                                <label for="email">Email *</label>
                                                                                <input class="span4" type="text" name="email" id="email" value="" size="22" >
                                                                        </div>

                                                                        <div>
                                                                                <label for="url">Website</label>
                                                                                <input class="span4" type="text" name="url" id="url" value="" size="22" >
                                                                        </div>


                                                                        <div>
                                                                                <label for="comment">Comment</label>
                                                                                <textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>
                                                                        </div>

                                                                        <p class="allowed-tags">You can use these HTML tags and attributes <small><code>&lt;a href="" title=""&gt; &lt;abbr title=""&gt; &lt;acronym title=""&gt; &lt;b&gt; &lt;blockquote cite=""&gt; &lt;cite&gt; &lt;code&gt; &lt;del datetime=""&gt; &lt;em&gt; &lt;i&gt; &lt;q cite=""&gt; &lt;strike&gt; &lt;strong&gt; </code></small></p>

                                                                        <div>
                                                                                <input class="btn" name="submit" type="submit" id="submit"  value="Submit Comment">
                                                                        </div>

                                                                </form>

                                                        </div>

                                                </section><!-- end of comments -->