<section id="comments">
	<!-- 动态评论使用 -->
	<ol class="commentlist" style="padding-bottom: 10px;" id="comments-container"></ol>
	<div class="page-number">
		<button class="btn btn-primary" style="height: 45px; width: 300px;" id="load-comment-button">加载更多评论</button>
	</div>

	<div id="respond">
		<form method="post" action="javascript:void(0)" id="commentform">
			<div>
				<label for="comment">评论</label>
				{% if not current_user.is_authenticated or not current_user.confirmed %}
				<textarea class="span8" name="comment" cols="58" rows="10" disabled="disabled"></textarea>
				{% else %}
				<textarea class="span8" name="comment" id="comment" cols="58" rows="10"></textarea>
				{% endif %}
			</div>
			{% if not current_user.is_authenticated %}
			<p class="allowed-tags">你需要先登录并激活账号后才可以发表评论。</p>
			{% endif %}
			{% if current_user.is_authenticated %}
			<div>
				<input class="btn" name="submit" type="submit" id="submit" value="提交评论">
			</div>
			{% endif %}
		</form>
	</div>
</section><!-- end of comments -->