<div class="modal" aria-hidden="true" id="login-modal">
    <div class="modal-dialog" style="opacity: 1.0; width: 400px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="color: white;">×
                </button>
                <h4 class="modal-title center">登录</h4>
            </div>

            <div class="modal-body">
                <form role="form" class="form-horizontal" style="margin: 22px 0 22px;">
                    <div class="control-group" style="text-align: center">
                        <input type="text" class="controls-center" id="edit-device-name" placeholder="请输入用户名／邮箱">
                    </div>
                    <div class="control-group" style="text-align: center">
                        <input type="password" class="controls-center" id="edit-device-about" placeholder="请输入密码">
                    </div>
                    <div class="control-group" style="text-align: center">
                        <button type="button" class="btn btn-primary" style="width: auto;">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>