<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
	<div class="search-area container">
		<h3 class="search-header">有什么可以帮你？</h3>
		<p class="search-tag-line">若你有任何疑问，请在下方文本框中搜索或提问！</p>
		<form id="search-form" class="search-form clearfix" method="get" action="#" autocomplete="off">
			<input class="search-term required" type="text" id="s" name="s" placeholder="在此输入搜索关键词" title="* 请输入您要检索的关键词！" />
			<input class="search-btn" type="submit" value="检索" />
			<div id="search-error-container"></div>
		</form>
	</div>
</div>
<!-- End of Search Wrapper -->
