{% extends "base.html" %}
{% import "components/_pagination.html" as pag %}

{% block title %}我的回答{% endblock %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block body %}
{{ super() }}
{% endblock body %}

{% block page_content %}

<div class="page-container">
	<div class="container">
		<div class="row">

			<h2>我的全部回答</h2>

			{% if questions_1|length == 0 and questions_2|length == 2 %}
			<h3>您尚未回答过任何问题，<a href="{{ url_for('ques.latest', _external=True) }}">点我</a>去回答。</h3>
			{% else %}
			<!-- start of page content -->
			<div class="span6 main-listing">
				{% for ans in answers_1 %}
				<article class="format-vedio type-post hentry clearfix">
					<header class="clearfix">
						<h3 class="post-title">
							<a href="{{ url_for('ques.detail', question_id=ans.question.id) }}">{{ ans.question.title }}</a>
						</h3>
						<div class="post-meta clearfix">
							<span class="date">答案最后编辑于：{{ moment(ans.last_edit).format('LL') }}</span>
							<span class="comments">
								<a href="javascript:void(0)"
								   onclick="showAnswerDetailDialog({{ ans.id }})" title="Answer">
									{% if ans.body_html|length > 300 %}查看／{% endif %}编辑我的回答</a>
							</span>
							<span class="like-count">{{ ans.score }}</span>
						</div>

					</header>
					<div id="answer-appear-div-{{ ans.id }}">
					{{ ans.body_html|safe|truncate(300) }}
					</div>
				</article>
				{% endfor %}
			</div>
			<!-- end of page content -->

			<!-- start of page content -->
			<div class="span6 main-listing">
				{% for ans in answers_2 %}
				<article class="format-vedio type-post hentry clearfix">
					<header class="clearfix">
						<h3 class="post-title">
							<a href="{{ url_for('ques.detail', question_id=ans.question.id) }}">{{ ans.question.title }}</a>
						</h3>
						<div class="post-meta clearfix">
							<span class="date">答案最后编辑于：{{ moment(ans.last_edit).format('LL') }}</span>
							<span class="comments">
								<a href="javascript:void(0)"
								   onclick="showAnswerDetailDialog({{ ans.id }})" title="Answer">
									{% if ans.body_html|length > 300 %}查看／{% endif %}编辑我的回答</a>
							</span>
							<span class="like-count">{{ ans.score }}</span>
						</div>

					</header>
					<div id="answer-appear-div-{{ ans.id }}">
					{{ ans.body_html|safe|truncate(300) }}
					</div>
				</article>
				{% endfor %}
				<div style="text-align: right">{{ pag.pagination_widget(pagination, 'ans.me') }}</div>
			</div>
			<!-- end of page content -->
			{% endif %}
		</div>
	</div>
</div>

{% include 'components/cat-answer-dialog.html' %}
<!-- End of Page Container -->
{% endblock page_content %}
