{% extends "base.html" %}
{% import "components/_pagination.html" as pag %}

{% block title %}{{ user.nickname }} 提过的问题{% endblock %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block body %}
{{ super() }}
{% endblock body %}

{% block page_content %}

<div class="page-container">
	<div class="container">
		<div class="row">
			<h2>{{ user.nickname }} 提过的问题</h2>

			{% if questions_1|length == 0 and questions_2|length == 0 %}
			<h3>用户<a href="javascript:void(0)"
			         onclick="showProfileSummary('{{ user.username }}')">
				{{ user.nickname }}
			</a>尚未发布任何问题。</h3>
			{% else %}
			<!-- start of page content -->
			<div class="span6 main-listing">
				{% for ques in questions_1 %}
				<article class="format-vedio type-post hentry clearfix">
					<header class="clearfix">
						<h3 class="post-title">
							<a href="{{ url_for('ques.detail', question_id=ques.id) }}">{{ ques.title }}</a>
						</h3>
						<div class="post-meta clearfix">
							<span class="date">上次编辑：{{ moment(ques.last_edit).format('LL') }}</span>
							<span class="comments">
								{% if ques.answers.count() == 0 %}
								暂无回答
								{% else %}
								<a href="{{ url_for('ques.detail', question_id=ques.id) }}" title="Answer">
							    {{ ques.answers.count() }} 个回答
								</a>
								{% endif %}
							</span>
							<span class="like-count">{{ ques.score }}</span>
						</div>

					</header>
					{{ ques.body_html|safe|truncate(200) }}

				</article>
				{% endfor %}


			</div>
			<!-- end of page content -->

			<!-- start of page content -->
			<div class="span6 main-listing">
				{% for ques in questions_2 %}
				<article class="format-vedio type-post hentry clearfix">
					<header class="clearfix">
						<h3 class="post-title">
							<a href="{{ url_for('ques.detail', question_id=ques.id) }}">{{ ques.title }}</a>
						</h3>
						<div class="post-meta clearfix">
							<span class="date">上次编辑：{{ moment(ques.last_edit).format('LL') }}</span>
							<span class="comments">
								{% if ques.answers.count() == 0 %}
								暂无回答
								{% else %}
								<a href="{{ url_for('ques.detail', question_id=ques.id) }}" title="Answer">
							    {{ ques.answers.count() }} 个回答
								</a>
								{% endif %}
							</span>
							<span class="like-count">{{ ques.score }}</span>
						</div>

					</header>
					{{ ques.body_html|safe|truncate(200) }}

				</article>
				{% endfor %}

				<div style="text-align: right">{{ pag.pagination_widget(pagination, 'ques.user', user_id=user.id) }}</div>

			</div>
			{% endif %}
			<!-- end of page content -->
		</div>
	</div>
</div>
<!-- End of Page Container -->
{% endblock page_content %}

