<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
	<div class="search-area container">
       {% if type == "question" %}
		<h3 class="search-header">有什么想搜索的问题？</h3>
		<p class="search-tag-line">切换到<a href="{{ url_for('main.index', _external=True) }}">综合查询</a>以查找符合条件的全部文章或提问</p>
		{% elif type == "post" %}
		<h3 class="search-header">有什么想搜索的文章？</h3>
		<p class="search-tag-line">切换到<a href="{{ url_for('main.index', _external=True) }}">综合查询</a>以查找符合条件的全部文章或提问</p>
		{% else %}
		<h3 class="search-header">有什么可以帮你？</h3>
		<p class="search-tag-line">若你有任何疑问，请在下方文本框中搜索文章或问题！</p>
		{% endif %}
		<form id="search-form" class="search-form clearfix" method="GET" action="javascript:submit_search_request('{{ type }}')" autocomplete="off">
			<input class="search-term required" type="text" id="s" name="search-keywords"
			       oninput="hasInput(this.value, event, '{% if type == "all" %}{{ url_for('sea.api_all', _external=True) }}{% elif type=="post" %}{{ url_for('sea.api_post', _external=True) }}{% elif type=="question" %}{{ url_for('sea.api_question', _external=True) }}{% endif %}')"
			       placeholder="在此输入搜索关键词" title="请输入您要检索的关键词！"
			       value="{{ title }}"/>
			<input class="search-btn" type="button" value="检索" onclick="submit_search_request('{{ type }}')"/>
			<div id="search-error-container"></div>
		</form>
	</div>
</div>
<div class="search-tip" id="search-tip"></div>

<script>
function submit_search_request(type) {
	var keywords = jQuery('#s').val();
	if (type == "all")
	    window.location.href = "{{ url_for('sea.home', key='', _external=True) }}" + keywords + '?tags=' + jQuery('#taglist-text').val();
	else if (type == "post")
	    window.location.href = "{{ url_for('sea.post', key='', _external=True) }}" + keywords + '?tags=' + jQuery('#taglist-text').val();
	else if (type == "question")
	    window.location.href = "{{ url_for('sea.question', key='', _external=True) }}" + keywords + '?tags=' + jQuery('#taglist-text').val();
}
</script>

<!-- End of Search Wrapper -->
