<ul class="posts">
    {% for post in posts %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('.user', username=post.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ post.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">发布时间：{{ moment(post.timestamp).fromNow() }}</div>
            <div class="post-author">作者：<a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a> &nbsp;&nbsp;&nbsp; 标题：<a href="{{ url_for('.post', id=post.id) }}">{{ post.title }}</a> </div>
            <div class="post-body">
                {% if post.disabled %}
                <p><i>此文章可能违反相关规定，已被管理员折叠，修改、审核通过后将可见。</i></p>
                {% endif %}
                {% if moderate or current_user.can(Permission.MODERATE_COMMENTS) or not post.disabled %}
                    {% if post.body_html %}
                        {{ post.body_html | safe }}
                    {% else %}
                        {{ post.body }}
                    {% endif %}
                {% endif %}
            </div>
            <div class="post-footer">
                {% if current_user == post.author %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-primary">编辑</span>
                </a>
                {% elif current_user.is_administrator() %}
                <a href="{{ url_for('.edit', id=post.id) }}">
                    <span class="label label-danger">编辑 [管理员]</span>
                </a>
                {% endif %}
                {% if current_user == post.author %}
	            <a href="{{ url_for('main.delete_post',id=post.id) }}">
		            <span class="label label-danger">删除</span>
		        </a>
	            {% elif current_user.is_administrator() %}
	            <a href="{{ url_for('main.delete_post',id=post.id) }}">
		            <span class="label label-danger">删除 [管理员]</span>
		        </a>
	            {% endif %}

                {% if current_user.is_administrator() %}
                {% if post.disabled %}
                <a href="{{ url_for('.moderate_posts_enable', id=post.id, page=page) }}">
                    <span class="label label-primary">设置为可见 [管理员]</span>
                </a>
                {% else %}
                <a href="{{ url_for('.moderate_posts_disable', id=post.id, page=page) }}">
                    <span class="label label-danger">设置为不可见 [管理员]</span>
                </a>
                {% endif %}
                {% endif %}
                <a href="{{ url_for('.post', id=post.id) }}">
                    <span class="label label-default">文章外链</span>
                </a>
                <a href="{{ url_for('.post', id=post.id) }}#comments">
                    {% if post.comments.count() == 0 %}
                        <span class="label label-default">暂无评论</span>
                    {% else %}
                        <span class="label label-info">{{ post.comments.count() }} 条评论</span>
                    {% endif %}
                </a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
