{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}CodeBattles - 确认删除您的建议{% endblock %}

{% block page_content %}
{% include 'prob/_tasks.html' %}
<br class="comment-form">
    {% for task in tasks %}
    <b>贡献参与者：{% for user in task.contributers %}<a href="{{ url_for('main.user',username = user.username) }}">{{ user.username }}</a> {% endfor %}</b>
    </br>
    </br>
    <b><h4>确认您的删除操作</h4></b>
    {{ wtf.quick_form(form) }}
    </br>
    <div>
      <a class="btn btn-danger" href="{{ url_for('main.delete_advice_confirm',token=token) }}">确认删除</a>
      <a class="btn btn-default" style="margin-left:15px" href="{{ url_for('prob.task',id=task.id) }}">取消</a>
    </div>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
