{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}CodeBattles - 编辑您的建议{% endblock %}

{% block page_content %}
{% include 'prob/_tasks.html' %}
<br class="comment-form">
    {% for task in tasks %}
    <b>贡献参与者：{% for user in task.contributers %}<a href="{{ url_for('main.user',username = user.username) }}">{{ user.username }}</a> {% endfor %}</b>
    </br>
    </br>
    <b><h4>编辑您的建议</h4></b>
    {{ wtf.quick_form(form) }}
    </br>
    {% endfor %}
</div>
{% endblock %}


{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
