{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}创建新文章{% endblock %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block body %}
{{ super() }}
{% endblock body %}

{% block page_content %}
<div class="page-container">
	<div class="container">
		<div class="row">

			<!-- start of page content -->
			<div class="span8 page-content">
				<section id="create-post">
					<form method="POST" action="/">
						{{ form.csrf_token }}
						{{ form.name.label }} {{ form.name(size=20) }}
						<input type="submit" value="Go">
					</form>
				</section>

			</div>
			<!-- end of page content -->

			<!-- start of sidebar -->
			<aside class="span4 page-sidebar">

				<section class="widget">
					<h3 class="title">选择标签</h3>
					{% include 'components/_tags.html' %}
				</section>

			</aside>
			<!-- end of sidebar -->
		</div>
	</div>
</div>
<!-- End of Page Container -->

{% endblock page_content %}