{% extends "base.html" %}
{% import "components/_pagination.html" as pag %}

{% block title %}文章列表{% endblock %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block body %}
{{ super() }}
{% endblock body %}

{% block page_content %}
{% include 'components/search/search-post-area.html' %}

<div class="page-container">
	<div class="container">
		<div class="row">

			<!-- start of page content -->
			<div class="span8 main-listing">
				{% for post in posts %}
				<article class="format-{% if post.has_image %}image{% else %}standard{% endif %} type-post hentry clearfix">
					<header class="clearfix">
						<h3 class="post-title">
							<a href="{{ url_for('post.detail', post_id=post.id) }}">{{ post.title }}</a>
						</h3>
						<div class="post-meta clearfix">
							<span class="date">{{ moment(post.create).format('LL') }}</span>
							<span class="author"><a href="javascript:void(0)" onclick="callProfileSummary('{{ post.author.username }}')"
							   title="作者">{{ post.author.username }}</a></span></span>
							<span class="comments">
								{% if post.comments.count() == 0 %}
								暂无评论
								{% else %}
								<a href="javascript:void(0)" onclick="showCommentsOfPost({{ post.id }})" title="Comment">
							    {{ post.comments.count() }} 条评论
								</a>
								{% endif %}
							</span>
							<span class="like-count">{{ post.score }}</span>
						</div>

					</header>
					{{ post.body_html|safe|truncate(200) }}

				</article>
				{% endfor %}

                {{ pag.pagination_widget(pagination, 'post.home') }}

			</div>
			<!-- end of page content -->

			<!-- start of sidebar -->
			<aside class="span4 page-sidebar">

				<section class="widget">
					<div class="support-widget">
						<h3 class="title">反馈建议</h3>
						<p class="intro">Wild Pointer 是否解决了您的问题？如果您有任何建议，欢迎 <a href="mailto:advice@forec.cn">反馈</a>。</p>
					</div>
				</section>

				<section class="widget">
					<h3 class="title">热门文章</h3>
					<ul class="articles">
						{% for _post in hot_posts %}
						<li class="article-entry standard">
							<h4><a href="{{ url_for('post.detail', post_id=_post.id, _external=True) }}">{{ _post.title }}</a></h4>
							<span class="article-meta">
								{{ moment(_post.create).fromNow() }}&nbsp;&nbsp;
								{% if _post.comments.count() == 0 %}
								<a href="{{ url_for('post.detail', post_id=_post.id, _external=True) }}">去做第一个评论者</a>
								{% else %}
								<a href="javascript:void(0)" onclick="showCommentsOfPost({{ _post.id }})" title="Comment">
							    {{ _post.comments.count() }} 条评论
								</a>
								{% endif %}
							</span>
							<span class="like-count">{{ _post.score }}</span>
						</li>
						{% endfor %}
					</ul>
				</section>


				<section class="widget"><h3 class="title">标签</h3>
					{% include 'components/_tags.html' %}
				</section>

			</aside>
			<!-- end of sidebar -->
		</div>
	</div>
</div>
<!-- End of Page Container -->
{% endblock page_content %}

{% block scripts %}
<script type='text/javascript' src="{{ url_for('static', filename='js/non/m-thumb-up.js', _external=True) }}"></script>
{% endblock scripts %}
