<ul class="posts">
    {% for code in codes %}
    <li class="post">
        <div class="post-thumbnail">
            <a href="{{ url_for('main.user', username=code.author.username) }}">
                <img class="img-rounded profile-thumbnail" src="{{ code.author.gravatar(size=40) }}">
            </a>
        </div>
        <div class="post-content">
            <div class="post-date">解决时间：{{ moment(code.timestamp).fromNow() }}</div>
            <div class="post-author">
                {% if not fm %}
                发布者：<a href="{{ url_for('main.user', username=code.author.username) }}">{{ code.author.username }}</a>&nbsp;&nbsp;&nbsp;
                {% endif %}
                {% if fm %}
                任务：<a href="{{ url_for('prob.task', id=code.task_id) }}">{{ code.task.title }}</a>&nbsp;&nbsp;&nbsp;
                {% endif %}
                此代码赞同数：<span class="badge">{{ code.likes }}</span>
            </div>
            <div class="post-body">
                {{ code.body }}
            </div>
            <div class="post-footer">
                {% if current_user != code.author %}
                    {% if current_user.is_authenticated and current_user.is_like(code) %}
                    <a href="{{ url_for('prob.unlike_code', id=code.id) }}">
                        <span class="label label-primary">取消点赞</span>
                    </a>
                    {% else %}
                    <a href="{{ url_for('prob.like_code', id=code.id) }}">
                        <span class="label label-primary">为此代码点赞</span>
                    </a>
                    {% endif %}
                {% endif %}
	            {% if current_user.is_administrator() %}
	            <a href="{{ url_for('prob.delete_code',id=code.id) }}">
		            <span class="label label-danger">删除 [管理员]</span>
		        </a>
	            {% endif %}
                <a href="{{ url_for('prob.code', id=code.id) }}">
                    <span class="label label-default">代码外链</span>
                </a>
                {% if code.passed %}
                    <span class="label label-success">通过</span>
                {% else %}
                    <span class="label label-default">未通过</span>
                {% endif %}
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
