{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "main/_macros.html" as macros %}

{% block title %}CodeBattles - 任务{% endblock %}

{% block page_content %}
{% include 'prob/_tasks.html' %}
<br class="comment-form">
    {% for task in tasks %}
    <b>贡献参与者：{% for user in task.contributors %}<a href="{{ url_for('main.user',username = user.username) }}">{{ user.username }}</a> {% endfor %}</b>
    {% endfor %}
    </br>
    {% if current_user.is_authenticated %}
    </br>
    <b><h4>提交您的解决方案</h4></b>
    {{ wtf.quick_form(form) }}
    {% endif %}
    </br>
    {% for task in tasks %}
    {% if current_user.is_authenticated %}
    {% if current_user.is_solver(task) or current_user == task.publisher or current_user.is_contributor(task) or current_user.is_viewer(task) or current_user.is_administrator() %}
        <p><a class="btn btn-success" href="{{ url_for('prob.task_code', id = task.id) }}">查看已通过的代码</a></p>
    {% else %}
        {% if task.codes.count() == 0 %}
        <p><button type = "button" class="btn btn-danger" disabled="disabled" href="{{ url_for('prob.task_code', id = task.id) }}">查看已通过的代码</button></p>
        <p>此任务尚未有代码通过。</p>
        {% else %}
        <p><a class="btn btn-danger" href="{{ url_for('prob.task_code', id = task.id) }}">查看已通过的代码</a></p>
        <p>注意，您的积分将减去此任务积分！若您已查看过，再次查看不会扣除积分。</p>
        {% endif %}
    {% endif %}
    {% endif %}
    {% endfor %}
</br>

{% if advices %}
    <b><h4>针对此任务的建议</h4></b>
    <div class="post-tabs">
    {% include 'main/_advices.html' %}
    </div>
    {% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, 'prob.task', id=id) }}
    </div>
    {% endif %}
{% else %}
    <b><h4>暂无针对此任务的建议</h4></b>
{% endif %}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}
