<script>
// 登录
function loginPressed(usnID, pwdID) {
	var username = jQuery('#' + usnID).val();
	var password = jQuery('#' + pwdID).val();
	if (!verify(username, password))
	    return;
	$.ajax({
		url: "{{ url_for('auth.login', _external=True) }}",
		type: "POST",
		dataType: 'json',
		data: {
			'request': JSON.stringify({
				'username': username,
				'password': password
			})
		},
		success: function(response) {
	        if(response.code == true){
    	        jQuery("#auth-dialog").css("visibility", "hidden");
		        window.location.reload();
	        } else
		        flash_error("您填写的 <strong>账号</strong> 或 <strong>密码</strong> 不正确！");
            },
		err: function(err) {
		    flash_error("无法与服务器建立连接，登录失败。");
		}
	});
}

function verify(username, password) {
	if (username == "") {
		flash_warning("用户名不能为空。");
		return false;
	}
	if (password == "") {
		flash_warning("密码不能为空。");
		return false;
	}
	if (username.indexOf('@') != -1 && verifyEmail(username) == 0) {
	    flash_warning("您填写的邮箱格式不正确。");
	    return false;
	}
	if (username.length < 5 || username.length > 32) {
	    flash_warning("用户名长度需在 5 至 16 个字符之间。");
	    return false;
	}
	if (password.length < 8 || password.length > 22) {
		flash_warning("密码长度需在 8 至 22 个字符之间。");
		return false;
	}
	return true;
}

// 注册
function signupPressed(emailID, usnID, pwdID, cpwdID, checkID) {
	var email 		= jQuery('#' + emailID).val();
	var username 	= jQuery('#' + usnID).val();
	var password 	= jQuery('#' + pwdID).val();
	var cpassword 	= jQuery('#' + cpwdID).val();
	var check 		= jQuery('#' + checkID).is(':checked');
	if (!verifySignup(email, username, password, cpassword, check))
		return;
	$.ajax({
		url: "{{ url_for('auth.register', _external=True) }}",
		type: "POST",
		dataType: 'json',
		data: {
			'request': JSON.stringify({
				'email': email,
				'username': username,
				'password': password,
				'password2': cpassword
			})
		},
		success: function(response) {
	        if (response.code == 4){
	            jQuery("#auth-dialog").css("visibility", "hidden");
		        window.location.reload();
	        } else if (response.code == 3) {
		        flash_error("您填写的 <strong>用户名</strong> 已被注册！如果您忘记了密码，请按照指导重置。");
	        } else if (response.code == 2) {
	        	flash_error("您填写的 <strong>邮箱</strong> 已被注册！如果您忘记了密码，请按照指导重置。");
	        } else if (response.code == 1) {
        		flash_error("您填写的信息格式不正确！");
	        }
        },
		err: function(err) {
		    flash_error("无法连接至服务器，注册失败。");
		}
	});
}

function verifySignup(email, username, password, cpassword, check) {
	if (verifyEmail(email) == 0) {
		flash_warning("您填写的邮箱格式不合法。");
		return false;
	}
	if (username == "") {
		flash_warning("用户名不能为空。");
		return false;
	}
	if (password == "") {
		flash_warning("密码不能为空。");
		return false;
	}
	if (username.length < 5 || username.length > 16) {
		flash_warning("用户名长度在 5 至 16 个字符之间");
		return false;
	}
	if (password.length < 8 || password.length > 22) {
		flash_warning("密码长度在 8 至 22 个字符之间。");
		return false;
	}
	if (password != cpassword) {
		flash_error("您两次填写密码不一致，请检查后提交。");
		return false;
	}
	if (!check) {
		flash_warning("您必须接受《用户协议》方可注册。");
		return false;
	}
	return true;
}

// 忘记密码重置
function forgetPressed(emailID) {
	var email = jQuery('#' + emailID).val();
	if (!verifyEmail(email)) {
	    flash_warning("您填写的邮箱格式不正确。");
		return;
	}
	$.ajax({
		url: "{{ url_for('auth.forget', _external=True) }}",
		type: "POST",
		dataType: 'json',
		data: {
			'request': JSON.stringify({
				'email': email
			})
		},
		success: function(response) {
		    if (response.code == 3) {
	            jQuery("#forget-dialog").css("visibility", "hidden");
		        flash_success("请求提交成功。若存在与您填写的邮箱相对应的账户，我们将向该邮箱发送一封邮件，请您根据邮件中的指示重置密码。");
		    } else if (response.code == 2) {
		        flash_error("您填写的邮箱格式不正确。");
		    } else if (response.code == 1) {
		        flash_info("您已经登录，无需重置密码。");
		    } else {
		        flash_error("服务器发生了未知错误，您的请求未能正常处理，请稍后再试。");
		    }
		},
		err: function(err) {
		    flash_error("无法连接至服务器，请求失败。");
		}
	});
}
</script>