<!doctype html>
<!--[if lt IE 7]>
<html class="lt-ie9 lt-ie8 lt-ie7" lang="en-US"> <![endif]-->
<!--[if IE 7]>
<html class="lt-ie9 lt-ie8" lang="en-US"> <![endif]-->
<!--[if IE 8]>
<html class="lt-ie9" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US"> <!--<![endif]-->
<head>
	<!-- META TAGS -->
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Wild Pointer{% endblock title %}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png', _external=True) }}" />

	{% block head %}
	<!-- Style Sheet-->
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}"/>
	<link rel='stylesheet' id='bootstrap-css-css'
	      href="{{ url_for('static', filename='css/bootstrap5152.css', _external=True) }}?ver=1.0" type='text/css'
	      media='all'/>
	<link rel='stylesheet' id='responsive-css-css'
	      href="{{ url_for('static', filename='css/responsive5152.css', _external=True) }}?ver=1.0" type='text/css'
	      media='all'/>
	<link rel='stylesheet' id='pretty-photo-css-css'
	      href="{{ url_for('static', filename='js/prettyphoto/prettyPhotoaeb9.css', _external=True) }}?ver=3.1.4"
	      type='text/css' media='all'/>
	<link rel='stylesheet' id='main-css-css'
	      href="{{ url_for('static', filename='css/main5152.css', _external=True) }}?ver=1.0" type='text/css'
	      media='all'/>
	<link rel='stylesheet' id='custom-css-css'
	      href="{{ url_for('static', filename='css/custom5152.css', _external=True) }}?ver=1.0" type='text/css'
	      media='all'/>
	<link rel="stylesheet" id='fontawesome-css-css'
	      href="{{ url_for('static', filename='css/fonts/fontawesome/css/font-awesome.min.css', _external=True) }}"
	      type='text/css' media='all'/>
	<link rel="stylesheet" id='m-tab-menu-css-css'
	      href="{{ url_for('static', filename='css/non/m-tab-menu.css', _external=True) }}" type='text/css'
	      media='all'/>
	<link rel="stylesheet" id='m-tag-css-css'
	      href="{{ url_for('static', filename='css/non/m-tag.css', _external=True) }}" type='text/css'
	      media='all'/>
	<link rel="stylesheet" id='toastr-css'
	      href="{{ url_for('static', filename='css/toastr/toastr.min.css', _external=True) }}" type='text/css'
	      media='all'/>
	<link rel="stylesheet" id='ns-default-css'
	      href="{{ url_for('static', filename='css/non/ns-default.css', _external=True) }}" type='text/css'
	      media='all'/>
	<link rel="stylesheet" id='ns-style-other-css'
	      href="{{ url_for('static', filename='css/non/ns-style-other.css', _external=True) }}" type='text/css'
	      media='all'/>
	<link rel="stylesheet" id='m-homepage-dialog-css'
	      href="{{ url_for('static', filename='css/non/m-homepage-dialog.css', _external=True) }}" type='text/css'
	      media='all'/>
	<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js', _external=True) }}"></script>
	{% endblock head %}
</head>

<body>
{% block body %}
    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="{{ url_for('main.index', _external=True) }}"  title="Wild Pointer">
                        <img src="{{ url_for('static', filename='images/logo.png', _external=True) }}" alt="Wild Pointer">
                    </a>
                    <span id="pc-mention" class="tag-line">程序员问答社区</span>
                </div>

                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li class="current-menu-item">
	                            <a href="{{ url_for('main.index', _external=True) }}">主页</a>
                            </li>
	                        {% if current_user.is_authenticated and current_user.confirmed %}  <!-- 已登录且已经激活账号 -->
                            <li class="current-menu-item"><a href="#">文章</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ url_for('post.home', _external=True) }}">最新文章</a></li>
	                                <li><a href="{{ url_for('post.follow', _external=True) }}">我的关注</a></li>
                                    <li><a href="{{ url_for('post.create', _external=True) }}">发布新文章</a></li>
                                    <li><a href="{{ url_for('post.me', _external=True) }}">我的文章</a></li>
                                </ul>
                            </li>
                            <li class="current-menu-item"><a href="#">问题</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ url_for('ques.latest', _external=True) }}">最新问题</a></li>
                                    <li><a href="javascript:void(0)" onclick="showQuestionDialog('new-question-dialog')">我要提问</a></li>
                                    <li><a href="{{ url_for('ques.me', _external=True) }}">我的问题</a></li>
                                    <li><a href="{{ url_for('ans.me', _external=True) }}">我的回答</a></li>
                                </ul>
                            </li>
                            {% else %}
	                            {% if current_user.is_authenticated and not current_user.confirmed %}  <!-- 已登录但尚未激活账号 -->
	                            <li class="current-menu-item"><a href="#">文章</a>
	                                <ul class="sub-menu">
	                                    <li><a href="{{ url_for('post.home', _external=True) }}">最新文章</a></li>
                                        <li><a href="javascript:void(0)" onclick="alertNotConfirm()">我的关注</a></li>
	                                    <li><a href="javascript:void(0)" onclick="alertNotConfirm()">发布新文章</a></li>
	                                    <li><a href="javascript:void(0)" onclick="alertNotConfirm()">我的文章</a></li>
	                                </ul>
	                            </li>
	                            <li class="current-menu-item"><a href="#">问题</a>
	                                <ul class="sub-menu">
	                                    <li><a href="{{ url_for('ques.latest', _external=True) }}">最新问题</a></li>
	                                    <li><a href="javascript:void(0)" onclick="alertNotConfirm()">我要提问</a></li>
	                                    <li><a href="javascript:void(0)" onclick="alertNotConfirm()">我的问题</a></li>
	                                    <li><a href="javascript:void(0)" onclick="alertNotConfirm()">我的回答</a></li>
	                                </ul>
	                            </li>
	                            {% else %}  <!-- 尚未登录 -->
                                <li class="current-menu-item"><a href="{{ url_for('post.home', _external=True) }}">文章</a></li>
                                <li class="current-menu-item"><a href="{{ url_for('ques.latest', _external=True) }}">问题</a></li>
	                            {% endif %}
                            {% endif %}

	                        {% if current_user.is_authenticated %}
                            <li class="current-menu-item"><a href="{{ url_for('message.home', _external=True) }}">消息
                            <span class="badge" style="padding-left: 5px; padding-right: 5px; padding-bottom: 1px; padding-top: 1px"
                                  id="#message-counter"
                            >{{ current_user.messages.filter_by(viewed=False).count() }}</span></a></li>
                            <li class="current-menu-item"><a href="#">{{ current_user.username|truncate(12) }}</a>
                                <ul class="sub-menu">
                                    <li><a href="javascript:void(0)" onclick="showProfileSummary('{{ current_user.username }}')">个人资料</a></li>
                                    <li><a href="{{ url_for('auth.secure', _external=True) }}">安全中心</a></li>
                                    <li><a href="{{ url_for('auth.logout', _external=True) }}">登出</a></li>
                                </ul>
                            </li>
	                        {% else %}
	                        <li class="current-menu-item"><a href="javascript:void(0)" onclick="modalHidden('auth-dialog')">认证</a></li>
	                        {% endif %}
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->
            </div>
        </header>
    </div>
    <!-- End of Header -->

    {% block page_content %}
    {% endblock page_content %}

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">
                <div class="span3">
                    <section class="widget">
                        <h3 class="title">关于 Wild Pointer</h3>
                        <div class="textwidget">
                            <p>Wild Pointer 是 <a href="http://forec.cn">Forec</a> 和 <a href="https://github.com/non1996">non1996</a> 2017 年的数据库系统课程设计选题，本质为仿 Stack-Overflow 的程序设计问答社区。</p>
                            <p>相比 StackOverflow，Wild Pointer 在问答的基础上，允许用户打造自己的技术博客，并与其他用户分享。</p>
                        </div>
                    </section>
                </div>
                <div class="span3">
                    <section class="widget"><h3 class="title">导航</h3>
                        <ul>
                            <li><a href="{{ url_for('main.index', _external=True) }}" title="搜索问题">检索文章或问题</a></li>
	                        {% if not current_user.is_authenticated or not current_user.confirmed %}
	                            {% if not current_user.is_authenticated %}  <!-- 尚未登录 -->
	                            <li><a href="javascript:void(0)" onclick="alertNotLogin()" title="发布新文章">发布新文章</a></li>
                                <li><a href="javascript:void(0)" onclick="alertNotLogin()" title="提出新问题">提出新问题</a></li>
	                            {% else %}  <!-- 已登录但尚未认证 -->
	                            <li><a href="javascript:void(0)" onclick="alertNotConfirm()" title="发布新文章">发布新文章</a></li>
                                <li><a href="javascript:void(0)" onclick="alertNotConfirm()" title="提出新问题">提出新问题</a></li>
	                            {% endif %}
                                <li><a href="javascript:void(0)" onclick="flash_info('您必须注册并激活一个账户后才可回答提问。')" title="去回答">去回答</a></li>
	                        {% else %}  <!-- 已登录并已认证 -->
	                        <li><a href="{{ url_for('post.create', _external=True) }}" title="发布新文章">发布新文章</a></li>
                            <li><a href="javascript:void(0)" onclick="showQuestionDialog('new-question-dialog')" title="提出新问题">提出新问题</a></li>
                            <li><a href="javascript:void(0)" onclick="flash_normal('您可以在每个问题的详情页添加自己的回答。')" title="去回答">去回答</a></li>
	                        {% endif %}
                        </ul>
                    </section>
                </div>
                <div class="span3">
                    <section class="widget"><h3 class="title">联系我们</h3>
                        <ul>
                            <li><a href="https://github.com/Forec/WildPointer" title="GitHub">GitHub</a> </li>
                            <li><a href="mailto:feedback@forec.cn" title="问题反馈">问题反馈</a></li>
                            <li><a href="mailto:advice@forec.cn" title="提出建议">提出建议</a></li>
                            <li><a href="javascript:void(0)" onclick="modalHidden('forget-dialog')" title="找回密码">找回密码</a></li>
                        </ul>
                    </section>
                </div>
                <div class="span3">
                    <section class="widget">
                        <h3 class="title">手机二维码访问</h3>
                        <div class="flickr-photos" id="basicuse">
                            <img src="{{ url_for('static', filename='images/qr.png', _external=True) }}"/>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- end of #footer -->

        {% block footer_bottom %}
        {% endblock footer_bottom %}
    </footer>
    <!-- End of Footer -->

    {% block after_footer %}
    {% endblock after_footer %}

    {% if not current_user.is_authenticated %}
        {% include 'components/auth-dialog.html' %}
    {% endif %}
    {% if current_user.is_authenticated and current_user.confirmed %}
        {% include 'components/new-question-dialog.html' %}
    {% endif %}


<!-- script -->
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.easing.1.3.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/prettyphoto/jquery.prettyPhoto.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.form.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.validate.min.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/toastr/toastr.min.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/utils/verifiers.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/utils/flash-message.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/utils/ispc.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/non/modal.js', _external=True) }}"></script>
<!--<script type='text/javascript' src="{{ url_for('static', filename='js/non/m-homepage-dialog.js', _external=True) }}"></script>-->
<script type='text/javascript' src="{{ url_for('static', filename='js/non/modernizr.custom.js', _external=True) }}"></script>

<!-- 显示所有等待的 flash 消息 -->
{% for message in get_flashed_messages() %}
<script>flash_normal("{{ message }}")</script>
{% endfor %}

<!-- 对于未登录／认证用户，在 ajax 前结束其请求 -->
{% include 'js/auth_before_action.html' %}

<!-- 对于未登录／认证用户，提供关注脚本 -->
{% include 'js/focus-users.html' %}

<!-- 提问的脚本 -->
{% include 'js/new-question.html' %}

<!-- 用户资料脚本／框 -->
{% include 'components/user-profile-dialog.html' %}

<!-- 未登录用户提供认证脚本 -->
{% if not current_user.is_authenticated %}
    {% include 'js/auth.html' %}
{% endif %}

<!-- 使用本地 moment.js，部署到不同服务器时需修改此链接 -->
{{ moment.include_moment(local_js, "http://127.0.0.1:5000/static/js/moment/moment-with-locales.js") }}
{{ moment.lang("zh-CN") }}

<!-- 判断是否为手机端访问 -->
<script>
jQuery(document).ready(function($){
    if (IsPC() == false) {
        $("#pc-mention").html("手机端请设置浏览器使用<b>请求桌面版网站</b>访问");
    }
});
</script>

{% include 'js/get_message.html' %}

{% block scripts %}
{% endblock scripts %}
{% endblock body %}
</body>
</html>
