{% extends "bootstrap/base.html" %}

{% block title %}Wild Pointer{% endblock %}

{% block head %}
<!-- META TAGS -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png', _external=True) }}" />

<!-- Style Sheet-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}"/>
<link rel='stylesheet' id='bootstrap-css-css'  href="{{ url_for('static', filename='css/bootstrap5152.css', _external=True) }}?ver=1.0" type='text/css' media='all' />
<link rel='stylesheet' id='responsive-css-css'  href="{{ url_for('static', filename='css/responsive5152.css', _external=True) }}?ver=1.0" type='text/css' media='all' />
<link rel='stylesheet' id='pretty-photo-css-css'  href="{{ url_for('static', filename='js/prettyphoto/prettyPhotoaeb9.css', _external=True) }}?ver=3.1.4" type='text/css' media='all' />
<link rel='stylesheet' id='main-css-css'  href="{{ url_for('static', filename='css/main5152.css', _external=True) }}?ver=1.0" type='text/css' media='all' />
<link rel='stylesheet' id='custom-css-css'  href="{{ url_for('static', filename='css/custom5152.css', _external=True) }}?ver=1.0" type='text/css' media='all' />
<link rel="stylesheet" id='fontawesome-css-css'  href="{{ url_for('static', filename='css/fonts/fontawesome/css/font-awesome.min.css', _external=True) }}" type="'text/css" media="'all" />

<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js', _external=True) }}"></script>
{% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
    <!-- Start of Header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="index-2.html"  title="Wild Pointer">
                        <img src="{{ url_for('static', filename='images/logo.png', _external=True) }}" alt="Wild Pointer">
                    </a>
                    <span class="tag-line">程序员问答社区</span>
                </div>

                <!-- Start of Main Navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li class="current-menu-item"><a href="index-2.html">主页</a></li>
                            <li class="current-menu-item"><a href="">刷新</a></li>
	                        {% if current_user.is_authenticated %}
                            <li><a href="#">问题</a>
                                <ul class="sub-menu">
                                    <li><a href="blue-skin.html">最新问题</a></li>
                                    <li><a href="index-2.html">我的问题</a></li>
                                    <li><a href="index-2.html">我的回答</a></li>
                                </ul>
                            </li>
                            {% else %}
                            <li class="current-menu-item"><a href="index-2.html">问题</a></li>
                            {% endif %}

	                        {% if current_user.is_authenticated %}
                            <li><a href="faq.html">消息</a></li>
                            <li><a href="#">我的</a>
                                <ul class="sub-menu">
                                    <li><a href="blue-skin.html">个人资料</a></li>
                                    <li><a href="blue-skin.html">我的关注</a></li>
                                    <li><a href="green-skin.html">安全中心</a></li>
                                    <li><a href="green-skin.html">我的文章</a></li>
                                    <li><a href="red-skin.html">登出</a></li>
                                </ul>
                            </li>
	                        {% else %}
	                        <li><a href="faq.html">注册</a></li>
	                        <li><a href="javascript:void(0)" onclick="modalHidden('login-dialog')">登入</a></li>
	                        {% endif %}
                        </ul>
                    </div>
                </nav>
                <!-- End of Main Navigation -->
            </div>
        </header>
    </div>
    <!-- End of Header -->

    {% block page_content %}{% endblock %}

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">
                <div class="span3">
                    <section class="widget">
                        <h3 class="title">关于 Wild Pointer</h3>
                        <div class="textwidget">
                            <p>Wild Pointer 是 <a href="http://forec.cn">Forec</a> 和 <a href="https://github.com/non1996">non1996</a> 2017 年的数据库系统课程设计选题，本质为仿 Stack-Overflow 的程序设计问答社区。</p>
                            <p>相比 StackOverflow，Wild Pointer 在问答的基础上，允许用户打造自己的技术博客，并与其他用户分享。</p>
                        </div>
                    </section>
                </div>
                <div class="span3">
                    <section class="widget"><h3 class="title">导航</h3>
                        <ul>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">发布新文章</a> </li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">提出新问题</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">搜索问题</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet, ">加入 Wild Pointer</a></li>
                        </ul>
                    </section>
                </div>
                <div class="span3">
                    <section class="widget"><h3 class="title">联系我们</h3>
                        <ul>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">GitHub</a> </li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">问题反馈</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">提出建议</a></li>
                            <li><a href="#" title="Lorem ipsum dolor sit amet,">找回密码</a></li>
                        </ul>
                    </section>
                </div>
                <div class="span3">
                    <section class="widget">
                        <h3 class="title">手机二维码访问</h3>
                        <div class="flickr-photos" id="basicuse">
                            <img src="{{ url_for('static', filename='images/qr.png', _external=True) }}"/>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!-- end of #footer -->

        {% block footer_bottom %}
        {% endblock %}
    </footer>
    <!-- End of Footer -->

    {% block after_footer %}
    {% endblock %}

    {% include 'components/login-dialog.html' %}

{% endblock %}


<!-- script -->
<!--<script type='text/javascript' src="{{ url_for('static', filename='js/bootstrap.min.js', _external=True) }}"></script>-->
<!--<script type='text/javascript' src="{{ url_for('static', filename='js/jquery-1.8.3.min.js', _external=True) }}"></script>-->
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.easing.1.3.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/prettyphoto/jquery.prettyPhoto.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jflickrfeed.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.liveSearch.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.form.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/jquery.validate.min.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/toastr/toastr.min.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/custom.js', _external=True) }}"></script>

{% for message in get_flashed_messages() %}
<script type='text/javascript' src="{{ url_for('static', filename='js/utils/flash-message.js', _external=True) }}"></script>
{% endfor %}

<script type='text/javascript' src="{{ url_for('static', filename='js/utils/auth.js', _external=True) }}"></script>
<script type='text/javascript' src="{{ url_for('static', filename='js/utils/modal.js', _external=True) }}"></script>

{% block scripts %}
{% endblock %}
