{% extends "base.html" %}

{% block title %}Wild Pointer{% endblock %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block body %}
{{ super() }}
{% endblock body %}

{% block page_content %}
{% include 'components/search-area.html' %}

<div class="copyrights">Wild Pointer 由 <a href="http://forec.cn" title="Forec">Forec</a> 和 <a href="https://github.com/non1996">non1996</a> 设计</div>

<!-- Start of Page Container -->
<div class="page-container">
	<div class="container">
		<div class="row">
			<!-- start of page content -->
			<div class="span8 page-content">
				<!-- Basic Home Page Template -->
				<div class="row separator">
					<section class="span4 articles-list">
						<h3>热搜文章</h3>
						<ul class="articles">
							{% for post in posts %}
							<li class="article-entry {% if post.has_image %}image{% else %}standard{% endif %}">
								<h4><a href="{{ url_for('post.detail', post_id=post.id, _external=True) }}">{{ post.title }}</a></h4>
								<span class="article-meta">
									{{ moment(post.create).format('LL') }}&nbsp;&nbsp;
									<a href="javascript:void(0)" onclick="callProfileSummary('{{ post.author.username }}')"
									   title="Author">{{ post.author.nickname }}</a>
								</span>
								<span class="like-count">{{ post.score }}</span>
							</li>
							{% endfor %}
						</ul>
					</section>


					<section class="span4 articles-list">
						<h3>最新问题</h3>
						<ul class="articles">
							{% for question in questions %}
							<li class="article-entry video">
								<h4><a href="{{ url_for('ques.detail', question_id=question.id, _external=True) }}">{{ question.title }}</a></h4>
								<span class="article-meta">
									{{ moment(question.create).format('LL') }}&nbsp;
									{% if question.answers.count() == 0 %}
									<a href="{{ url_for('ques.detail', question_id=question.id, _external=True) }}">去做第一个回答者</a>
									{% else %}
									<a href="{{ url_for('ques.detail', question_id=question.id, _external=True) }}">{{ question.answers.count() }} 条回答</a>
									{% endif %}
								</span>
								<span class="like-count">{{ question.score }}</span>
							</li>
							{% endfor %}
						</ul>
					</section>
				</div>
			</div>
			<!-- end of page content -->


			<!-- start of sidebar -->
			<aside class="span4 page-sidebar">

				<section class="widget">
					<div class="support-widget">
						<h3 class="title">帮助</h3>
						<p class="intro">需要更多帮助吗？如果你没有搜索到想要的答案，试试提出一个新问题？</p>
					</div>
				</section>

				<section class="widget">
					<div class="quick-links-widget">
						<h3 class="title">快速链接</h3>
						<ul id="menu-quick-links" class="menu clearfix">
							{% if current_user.is_authenticated %}
							<li><a href="{{ url_for('post.me', _external=True) }}">我的文章</a></li>
							<li><a href="{{ url_for('ques.me', _external=True) }}">我的提问</a></li>
							<li><a href="{{ url_for('ans.me', _external=True) }}">我的回答</a></li>
							{% if current_user.confirmed %}
							    <li><a href="{{ url_for('auth.secure', _external=True) }}">安全中心</a></li>
							{% else %}
							    <li><a href="{{ mail_address }}">激活账号</a></li>
							{% endif %}
							{% else %}
							<li><a href="javascript:void(0)" onclick="modalHidden('auth-dialog')">登录／注册</a></li>
							<li><a href="javascript:void(0)" onclick="modalHidden('forget-dialog')">忘记密码</a></li>
							<li><a href="{{ url_for('post.home', _external=True) }}">最新文章</a></li>
							{% endif %}
						</ul>
					</div>
				</section>

				<section class="widget">
					<h3 class="title">标签</h3>
					{% include 'components/_tags.html' %}
				</section>

			</aside>
			<!-- end of sidebar -->
		</div>
	</div>
</div>
<!-- End of Page Container -->

{% endblock page_content %}

{% block footer_bottom %}
<!-- Footer Bottom -->
<div id="footer-bottom-wrapper">
	<div id="footer-bottom" class="container">
		<div class="row">
			<div class="span6">
				<p class="copyright">
					Copyright © 2017. All Rights Reserved by <a href="http://forec.cn">Forec</a>.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End of Footer Bottom -->
{% endblock footer_bottom %}

{% block after_footer %}
<a href="#top" id="scroll-top"></a>
{% endblock after_footer %}


{% block scripts %}
{% endblock %}
